@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;500&family=Oswald:wght@300&family=Roboto:ital,wght@0,100;0,300;0,400;1,300&display=swap"); /*импортирован из сайта гугла */

body {
  font-size: 20px; /*размер шрифта*/
  font-family: "Oswald", sans-serif; /*стиль шрифта*/
  font-weight: 400;
}

div {
  padding-bottom: 15px;
}
div.myname {
  background-color: rgba(103, 55, 60, 0.517);
}

div.hobby {
    background-color: rgba(38, 51, 189, 0.758);
}

div.experience {
    background-color: rgb(244, 235, 221);
}

td{
    text-align: center;
    padding: 20px;
    border: 1px solid red;
}

label {
    padding-right: 5px;
}

.footer{
    background-color: rgba(0, 0, 0, 0.548);
    color: white;
}

form {
    background-color: rgb(172, 32, 172);
    padding-bottom: 15px;
}

